@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Roboto", sans-serif;
}

html{
    overflow-y: scroll;
}
/* banner gradient */
.gradient{
    background: radial-gradient(#cfe7f3, white 70%, white 100% )
}

.discover{
    background: linear-gradient(to right, #588adb, #487de3, #406fe9, #435eec, #514aec, #5e42ea, #693ae7, #742fe4, #7a3ae2, #8044e1, #864edf, #8b57dd);
    background-clip: text;
    color: transparent;
}

.Btn{
    background: #1d2130;
    color: #ffffff;
    border-radius: 12px;
}

.ready-gradient {
    background: linear-gradient(to top, #b2f2fe, #c5f3ff, #d8f4ff, #e8f6ff, #f5f9ff, #f9fbff, #fdfdff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
}