@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Roboto", sans-serif;
}

html{
    overflow-y: scroll;
}
/* banner gradient */
.gradient{
    background: radial-gradient(#cfe7f3, white 70%, white 100% )
}

.discover{
    background-image: linear-gradient(to right, #0714d9, #0069ff, #008fec, #00acbb, #00c494, #00d18b, #00dd7e, #00e86b, #00ef97, #00f4bc, #20f8da, #5ffbf1);
    background-clip: text;
    color: transparent;
}

.Btn{
    background: #1d2130;
    color: #ffffff;
    border-radius: 12px;
}
.Btn:hover{
    background: #1d2130e2;
    color: #ffffff;
    border-radius: 12px;
   
}

.ready-gradient {
    background-image: linear-gradient(to bottom, #ffffff, #f6f9ff, #e5f5ff, #d0f3ff, #b9f1fb);
}

.product-gradient{
    background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #fdfdff, #fafbff, #f6faff, #eaf8ff, #dcf6ff, #e2f1f7, #e2f1f7);
}
.borderGradient {
    background: linear-gradient(to right, #ff7e5f, #3aca1a);
    background-clip: border-box;
}

.product-markieting{
    background-image: linear-gradient(to left bottom, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #fbfbff, #f6f7ff, #f0f3ff, #dfecff, #cae6ff, #b0e0ff, #90dcff);
}

.lead-gradient{
    /* background-image: radial-gradient(circle, #ccf6ff, #d8f9f7, #e7fbf4, #f5fdf5, #fefffc); */
  
}

.boxShadow {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}